# 练习-2：清洗字段（Cleaning Columns）
通过查看练习-1的数据你会发现，有些字段（column）的数据格式并不规范，比如"Place of Publication"字段就包含这些内容：( "London", "London]" , "London; Virtue & Yorston")，而这些表达其实都是指的同一个地方。<p>
在这次练习中，你需要清洗（clear）并规范（uniform）这两列数据："Place of Publication" 和 "Date of Publication"<p>
请同样使用 **Books.csv** 数据

## 操作步骤:
1. 通过 Pandas 读取数据集（Dataframe）
2. [把 "Place of Publication" 字段（column）下所有包含 "London" 的值都替换（replace）成 "London"，并把所有 "-" 字符都替换（replace）成空格](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html)
3. [保留 "Date of Publication" 字段（column）中每个值的前4位数字（the first 4 digit number）](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.extract.html)
4. [将 "Date of Publication" 字段（column）的数据类型都转换成数字（number）类型](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.to_numeric.html)
5. [将 "Date of Publication" 字段（column）中所有的 NaN 值都替换（replace）成 0](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html)
6. 再次打印数据集（Dataframe），看看结果是不是如你所愿

*这次可能会涉及到一些 python 中处理字符串的方法，比如正则表达式，不过内容相对浅显，相信聪明的你不会被难倒！<p>
    正则表达式（Regular Expression，简称 regex）是对字符串和特殊字符操作的一种逻辑公式，不论是 python 还是 sql 处理数据中都会经常用到。*